 @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

 * {
     padding: 0;
     margin: 0;

 }

 body {
     background-color: black;
 }

 main {
     background-image: url(assets/images/bg.jpg);

     height: 70vh;

     background-position: center center;
     background-size: max(1000px, 100vw);
     background-repeat: no-repeat;

     position: relative;
 }

 main .box {
     background-color: black;
     top: 0;
     position: absolute;
     opacity: 0.69;
     height: 70vh;
     width: 100%;
 }

 nav {
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin: auto;
     max-width: 115vw;

     height: 65px;
 }

 nav img {
     color: red;
     width: 114px;
     z-index: 10;
     position: relative;
 }

 nav button {
     z-index: 10;
     position: relative;
 }

 .hero {
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     flex-direction: column;
     color: white;
     font-family: Helvetica, sans-serif;
     top: 120px;
     gap: 20px;
     padding: 0 10px;

 }

 .hero>:first-child {
     font-size: 45px;
     font-weight: bolder;
 }

 .hero>:nth-child(2) {
     font-size: 24px;
     font-weight: 400;

 }

 .hero> :nth-child(3) {
     font-size: 20px;
     font-weight: 400;
 }

 .seperation {
     background-color: gray;
     height: 10px;
 }

 .btn {
     padding: 7px 24px;
     color: white;
     border: 1px solid rgba(216, 197, 197, 0.091);


     font-weight: bold;
     background-color: rgba(216, 197, 197, 0.091);
 }

 .btn-red {
     background-color: red;
     padding: 7px 8px;

     color: white;
     border-radius: 7px;
 }

 .btn-red-sm {
     background-color: red;
     color: white;
     padding: 3px 24px;
     border-radius: 4px;
     font-weight: 400;

     font-size: 18px;

 }

 .hero input {
     padding: 4px 85px;
     border-radius: 4px;

     font-size: 15px;
     color: white;
     background-color: rgba(23, 23, 23, 0.8);
     border: 1px solid rgba(180, 172, 172, 0.649);


 }

 .first{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 50px 120px;
 }


 .text1 {
     font-size: 48px;
     font-weight: 900;
     color: white;
     /* padding: 20px; */
 }

 .text2 {
     font-size: 24px;
     font-weight: 400;
     color: white;
     /* padding: 20px; */
 }

 .text {
     display: flex;
     align-items: self-start ;
    flex-direction: column;
    gap: 10px;

 }

 section .tv {
     position: relative;

 }

 section .tv img {
     width: 43vw;
     padding: 32px 5px 20px 165px;
     right: 150px;

     z-index: 10;
 }

 section .tv video {
     position: absolute;
     width: 30vw;
     top: 142px;
     right: 105px;
 }

 .shyam{
     display: flex;
     align-items: center;
     justify-content: center;
     gap:10px;
 }

 .second span {
     color: white;
     display: flex;
     /* flex-direction: column; */
     align-items: end;
 }

 .second {
     display: flex;
     align-items: center;

 }

 .third {
     display: flex;
     align-items: center;
 }

 .faqs h2 {
     color: white;
     font-size: 48px;
     padding: 5vw 4px 16px 4vw;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 900;

 }



 section .faqbox {
     width: 75vw;
     height: 5vh;
     background-color: gray;
     padding: 10px;
     margin: 9px 10vw;
    

 }

 .faqs div {
     color:rgb(255, 255, 255);
     padding: 12px 4px 10px 25px;;
     font-size: 24px;
     font-weight: 400;

 }
 .faqs span{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
 }

 .faqs span .btn-red{
    color: red;
     width: 114px;
     z-index: 10;
     position: relative;
 }
 .faqs span div {
    background-color: red;
     color: white;
     padding: 3px 24px;
     border-radius: 4px;
     font-weight: 400;

     font-size: 18px;

 }
.One{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.One text{
 padding: 4px 85px;
     border-radius: 4px;

     font-size: 15px;
     color: white;
     background-color: rgba(23, 23, 23, 0.8);
     border: 1px solid rgba(180, 172, 172, 0.649);
}

.One .btn-red{
     background-color: red;
     padding: 7px 8px;

     color: white;
     border-radius: 7px;

}
.blackbox{
    padding:34px 5vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    flex-wrap: wrap;
}
.blackbox span{
    margin: 25px;
    padding: 7vw;
}